<!-- Não pode comentar nomes de blocos -->
{% extends "base.html" %}

{% block title %}Checklist Web App{% endblock %}

{% block content %}

<!-- Para criar a lista -->
<div id="criação-lista-container">
    <form id="criação-lista-form-container" action="">
        <input
            id="input-criar-lista" class="primary-input"
            type="text" name="input_list" autocomplete="off"
            maxlength="60" placeholder="nome lista"
        /> 
        <input id="send-criar-lista" class="primary-btn" type="submit" value="Criar">
        <!-- <label id="label-criar-lista" class="label" for="criação-lista-container">Criar lista</label> -->
    </form>
</div>

<!-- Menu de seleção para que a lista seja selecionada. -->
<div id="container-select">    
    <form action="">
        <select id="select" class="primary-input" name="select" style="color: #8d8d8d;">
            <option>escolha aqui</option>
        </select>
        <!-- <button type="button" id="atualizar-lista-button">Atualizar lista de listas;</button> -->
        <button type="button" id="atualizar-lista-button">&#128260;</button>
        <input id="button-select" class="primary-btn" type="submit" value="Selecionar">
        <!-- <label id="label-select" class="label" for="select">Selecionar Lista</label> -->
    </form>  
</div>

<!-- Para criar a tarefa e inserir o conteúdo -->
<div id="div-criar-tarefa-form">
    <form id="criar-tarefa-form" action="">
        <!-- <button type="submit">aa</button> -->
        <input
            id="input-content-tarefa" class="primary-input"
            type="text" name="input_list2" autocomplete="off"
            maxlength="60" placeholder="conteúdo tarefa"
        />
        <button class="primary-btn" id="button-criar-tarefa" type="submit">Criar</button>
        <!-- <label id="label-criar-tarefa" class="label" for="criar-tarefa">Criar tarefa</label> -->
    </form>
</div>

<!-- Botão para clickar para visualizar as listas com suas tarefas. -->
<div id="div-botão-visualizar-listas">
    <form id="botão-visualizar-listas">
        <div>
            <button id="button-visualizar-listas" class="primary-btn" type="button" onclick="visualizar_lista();">Visualizar lista</button>
            <!-- <label id="label-visualizar-listas" class="label" for="visualizar-lista">Visualizar lista</label> -->
        </div>
    </form>
</div>

<p id="lista-selecionada" class="label">[LISTA SELECIONADA]</p>
<!-- Bloco de codigo para renderizar as tarefas: -->
<div class="div-component">
    <div class="lista-e-tarefa-component">
        <div id="div-lista-title">
            <!-- Botões lista -->
            <!-- <div id="div-edit-delete-lista">
                <input id="input-button-edit-lista" type="button" value="Edit" onclick="editNomeLista();">
                <input id="input-button-delete-lista" type="button" value="Del" onclick="deleteLista();">
            </div> -->
            <!-- Nome da lista -->
            <!-- <div class="lista-title" id="lista-title">
                [NOME DA LISTA]
            </div> -->
        </div>
        <div class="lista-content" id="lista-content-id">
        <!-- //////////////////////////////////////////////////////////////////-->
        <!-- //////////////////////////////////////////////////////////////////-->
        </div>
    </div>
</div>
{% endblock %}